.CFUserTextEncoding
.anyconnect
.cisco/
.config/
.cups/
.dropbox/
.idlerc/
.lesshst
.local/
.npm/
.python_history
.ssh/
.swp
.vim/
.viminfo
.wget-hsts
.zcompdump
.zsh_history
Creative Cloud Files/
Desktop/
Documents/
Downloads
Dropbox/
Georgia Gwinnett College/
Library/
Movies/
Music/
OneDrive - Georgia Gwinnett College/
Pictures/
Public/
github.com/
github.gatech.edu/
