.CFUserTextEncoding
.DS_Store
.Trash/
.anyconnect
.cisco/
.config/
.cups/
.dropbox/
.gem/
.gnupg/
.gnupg_pre_2.1/
.idlerc/
.lesshst
.msf4/
.python_history
.ssh/
.stack/
.swp
.vagrant.d/
.vim/*
.viminfo
.w3m/
.wget-hsts
.zcompdump
.zsh_history
.zshrc.zwc
Applications/
Desktop/
Documents/
Downloads
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
github.com/
