*.swp
.Azure/
.CFUserTextEncoding
.Rhistory
.Rproj.user
.Trash
.anyconnect
.bash_history
.cache/
.cisco/
.conda/
.config/NanoVNASaver/
.config/NuGet/
.config/nvim/lua/
.config/nvim/plugin/
.config/rstudio/
.config/wireshark/
.cups/
.dropbox/
.emacs.d/
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.local/
.matplotlib/
.npm/
.pyenv/
.pylint.d/
.python_history
.ssh/
.vagrant.d/
.vim/
.viminfo
.vnc/
.vscode/
.w3m/
.wget-hsts
.zcompcache/
.zcompdump
.zsh_history
.zsh_sessions/
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads
Dropbox/
Georgia Gwinnett College/
Google Drive
ISOs/
Library/
Movies/
Music/
OneDrive
OneDrive - Georgia Gwinnett College
Pictures/
Public/
TheCollective
Virtual Machines.localized/
VirtualBox VMs/
Zotero/
cleggett.ipynb
github.com/
github.gatech.edu/
knowledge.wiki/
nltk_data/
vagrants/